<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix",
  smallBlock: [
  {
    title: 'прозрачность',
    txt: "В отличии от брекетов, элайнеры EUROCAPPA абсолютно незаметны - друзья и коллеги не догадываются, что вы выравниваете зубы."
  },
  {
    title: 'быстрое лечение',
    txt: "В отличии от брекетов, элайнеры EUROCAPPA абсолютно незаметны - друзья и коллеги не догадываются, что вы выравниваете зубы."
  },
  {
    title: 'известный результат',
    txt: "В отличии от брекетов, элайнеры EUROCAPPA абсолютно незаметны - друзья и коллеги не догадываются, что вы выравниваете зубы."
  },
  {
    title: 'свое производство',
    txt: "В отличии от брекетов, элайнеры EUROCAPPA абсолютно незаметны - друзья и коллеги не догадываются, что вы выравниваете зубы."
  },
  {
    title: 'точный размер',
    txt: "В отличии от брекетов, элайнеры EUROCAPPA абсолютно незаметны - друзья и коллеги не догадываются, что вы выравниваете зубы."
  },
  {
    title: 'гарантия качества',
    txt: "В отличии от брекетов, элайнеры EUROCAPPA абсолютно незаметны - друзья и коллеги не догадываются, что вы выравниваете зубы."
  },
  ],
  firstSlider: [
  {
    id: '01',
    title: 'Первый прием',
    txt: 'Ортодонт проведет полную диагностику: сделает фотопротокол, панорамный рентген-снимок, а также просканирует полость рта',
    img: './../img/slide.png'
  },
  {
    id: '02',
    title: 'Первый прием',
    txt: 'Ортодонт проведет полную диагностику: сделает фотопротокол, панорамный рентген-снимок, а также просканирует полость рта',
    img: './../img/slide.png'
  },
  {
    id: '03',
    title: 'Первый прием',
    txt: 'Ортодонт проведет полную диагностику: сделает фотопротокол, панорамный рентген-снимок, а также просканирует полость рта',
    img: './../img/slide.png'
  },
  {
    id: '04',
    title: 'Первый прием',
    txt: 'Ортодонт проведет полную диагностику: сделает фотопротокол, панорамный рентген-снимок, а также просканирует полость рта',
    img: './../img/slide.png'
  },
  ]
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main>
  <%= _.template(require('./../includes/firstScreen.html').default)(data) %>
  <%= _.template(require('./../includes/twoScreen.html').default)(data) %>
  <%= _.template(require('./../includes/threeScreen.html').default)(data) %>
  <%= _.template(require('./../includes/fourScreen.html').default)(data) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>